.navbar-brand{
    font-size: 25px;
    font-family: italic;
 
}

.container{
    margin-top: 20px;
    width: auto;
    height: 1250px;
    align-items: center;
    padding: 5px;
    padding-top: 20px;
    background-color: rgb(42, 104, 219);
}

.text{
    margin-left: 60px;
    margin-right: 60px;
    background-color: darkgray;
}
